@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Work Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/assets/images/icons/select_arrow.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  width: 100%;
  height: 100%;
}


/* Initial state */
.hover-in-top, .hover-in-right, .hover-in-bottom, .hover-in-left,
.hover-out-top, .hover-out-right, .hover-out-bottom, .hover-out-left {
  opacity: 0;
}

/* Mouse enter animations */
.hover-in-top {
  animation: slide-in-top 0.3s forwards, fade-in 0.3s forwards;
}
.hover-in-right {
  animation: slide-in-right 0.3s forwards, fade-in 0.3s forwards;
}
.hover-in-bottom {
  animation: slide-in-bottom 0.3s forwards, fade-in 0.3s forwards;
}
.hover-in-left {
  animation: slide-in-left 0.3s forwards, fade-in 0.3s forwards;
}

/* Mouse leave animations */
.hover-out-top {
  animation: slide-out-top 0.3s forwards, fade-out 0.3s forwards;
}
.hover-out-right {
  animation: slide-out-right 0.3s forwards, fade-out 0.3s forwards;
}
.hover-out-bottom {
  animation: slide-out-bottom 0.3s forwards, fade-out 0.3s forwards;
}
.hover-out-left {
  animation: slide-out-left 0.3s forwards, fade-out 0.3s forwards;
}

/* Sliding animations */
@keyframes slide-in-top {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}
@keyframes slide-in-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes slide-in-bottom {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}
@keyframes slide-in-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slide-out-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}
@keyframes slide-out-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@keyframes slide-out-bottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}
@keyframes slide-out-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Opacity animations */
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}



/* Blog page */

.coming-soon {
  position: relative;
  display: inline-block;
}

.coming-soon::before {
  content: 'Com';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #B6F492, #338B93);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 10;
  clip-path: inset(0 70% 0 0);
}



/* Loader animation */

.smiley {
  width: 8em;
  height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
  transform-origin: 64px 64px;
}
.smiley__eye2 {
  animation-name: eye2;
}
.smiley__mouth1 {
  animation-name: mouth1;
}
.smiley__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223,90%,10%);
    --fg: hsl(223,90%,90%);
  }
}

/* Animations */
@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0,-56px);
  }
  50%,
  60% {
    animation-timing-function: cubic-bezier(0.17,0,0.58,1);
    transform: rotate(-40deg) translate(0,-56px) scale(1);
  }
  to {
    transform: rotate(225deg) translate(0,-56px) scale(0.35);
  }
}
@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0,-56px);
  }
  50% {
    transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
  }
  52.5% {
    transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1,0);
  }
  55%,
  70% {
    animation-timing-function: cubic-bezier(0,0,0.28,1);
    transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
  }
  to {
    transform: rotate(150deg) translate(0,-56px) scale(0.4);
  }
}
@keyframes eyeBlink {
  from,
  25%,
  75%,
  to {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }
  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1,start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }
  75%,
  to {
    visibility: hidden;
  }
}
@keyframes mouth2 {
  from {
    animation-timing-function: steps(1,end);
    visibility: hidden;
  }
  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -351.86;
  }
}

.cardClipBox{
  clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
}
